<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.autoservice.cloudflared</string>
    <key>WorkingDirectory</key>
    <string>{{AUTOSERVICE_ROOT}}</string>
    <key>ProgramArguments</key>
    <array>
      <string>/opt/homebrew/bin/cloudflared</string>
      <string>tunnel</string>
      <string>--config</string>
      <string>/Users/{{USER}}/.cloudflared/autoservice.yml</string>
      <string>run</string>
      <string>389c95d2-6066-437e-854f-8a09b2481259</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
    <key>KeepAlive</key><true/>
    <key>RunAtLoad</key><true/>
    <key>StandardOutPath</key>
    <string>{{AUTOSERVICE_ROOT}}/.autoservice/logs/cloudflared-stdout.log</string>
    <key>StandardErrorPath</key>
    <string>{{AUTOSERVICE_ROOT}}/.autoservice/logs/cloudflared-stdout.log</string>
</dict>
</plist>
